.hapyak-annotation-container > .popcorn-pop {
line-height: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-moz-box-shadow: 0 0 5px 1px #ccc;
-webkit-box-shadow: 0 0 5px 1px #ccc;
box-shadow: none;
border: 0px #0088cc solid;
word-wrap: break-word;
max-width: 450px;
background-color: rgba(255, 255, 255, .9);
padding:8px;
font-family: 'Helvetica' !important;
}

.hapyak-controls .group {
font-size: 14px;
}

.hapyak-controls {
padding: 0px 12px 4px;
}

.hapyak-controls div.hapyak-group-standard:first-of-type {
padding: 0px;
border-right: 0px;
}

.hapyak-control-bar, .hapyak-more-icon > .hapyak-edit-more-icons {
background-color: #979797;
}

.hapyak-group-info {
border-left: 0px;
}

.hapyak-edit-controls {
  border-radius: 8px;
box-shadow: 0px 0px 10px #eee;
padding: 4px;
}

